<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<blockquote>
  <p> <%= @answer %><br><i>-You</i></p>
  <cite>-You</cite>
</blockquote>

<blockquote>
  <p class="banner"> <%= @question %><br><i>-Your coach</i></p>
  <cite>-Your coach</cite>
</blockquote>


<%= link_to "Ask a new question", ask_path %>
